* {
    box-sizing:border-box;
}

body {
    background-image: url("sup1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    display:block;
    margin-bottom:10px;
}

input {
    padding:5px;
    width: 70%;
    margin-bottom: 10px;
}
button {
    margin: 1em 0;
    padding: 1em;
    display:inline-block;
    float: right;
    color: black;
    font-weight: bold;
    border-radius: 12px;
    background-color: rgba(191, 191, 191,0.7)
}

header {
    background-color: transparent;
    padding: 10px;
    text-align: right;
    font-size: 65px;
    color: darkblue;
}

div {
    float: left;
    padding: 20px;
    width: 100%;
    background-color: #f1f1f1;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}

/* Make sections (grey zones) */
.section {
    width: 31%;
    height: 60%;
    padding: 20px;
    margin: 8px;
    background-color: rgba(128,128,128,0.7);
    color: black;
}

/* Change background color of section on hover */
.section:hover {
    background-color: rgba(191, 191, 191, 0.7);
}

.inside {
    background-color: transparent;
    float: left;
    padding: 10px;
}

.output{
    width: 80%;
    margin-bottom: 10px;
    background-color: transparent;
}

#sie {
    text-align: left;
    font-family: cursive;
    color : black;
    padding: 15px;
    animation: blink 8s linear infinite;
}

#supplierPage {
    background-color: transparent;
    padding: 10px;
    text-align: left;
    font-size: 25px;
    color: white;
}

#balance {
    font-size: 15px;
    float: right;
    color: darkred;
}

#id02 {
    width: 30%; /* Full width */
    height: 33%; /* Full height */
    left: 34%;
    top: 35%;
}

#Message {
    background-color: rgba(0, 102, 102, 0.7);
    color: white;
    margin: 0;
    width: 100%;
    font-size: 20px;
    text-align: center;
}


/* Form style */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    top: 0;
    width: 40%; /* Full width */
    height: 93%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,1); /* Fallback color */
    background-color: rgba(0,0,0,1); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 3px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}